:root {
  --primary-text-color: -#212121;
  --small-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.page-header {
  background: #ffffff;
}

.logo {
  font-family: Raleway;
  color: var(--primary-text-color);
}
.logo-web {
  color:var(--accent-color)
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;;
  background-color: #f5f4fa;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
 
}.kompany-contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.preferences-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.site-nav .link.current:hover,
.site-nav .link.current:focus {
   color: var(--accent-color);
}
ul {
  list-style: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--primary-text-color;
}